Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
email-validator==2.1.1
Pillow==10.4.0
Werkzeug==3.0.3
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
PyMySQL==1.1.1
slugify==0.0.1
python-slugify==8.0.4
bleach==6.1.0
